{% extends 'main/layout.html' %}

{% block title %}Add blog{% endblock %}

{% block content %}
<main>
    <h1>Add blog</h1>

    <strong>Philosophy</strong>
    <blockquote cite="http://tttthis.com/blog/if-i-could-bring-one-thing-back-to-the-internet-it-would-be-blogs">
        <p>
            Nowadays when everyone is on lockdown and there are days with nothing but spaces of time to pass, nights too,
            and you can make a hot tea or a coffee and sit down but when you look there's nothing to read. You can't access
            those unique voices writing about the things they care about, that are happening to them.
        </p>
        <footer>
            — <a href="http://tttthis.com/blog/if-i-could-bring-one-thing-back-to-the-internet-it-would-be-blogs">TTTThis</a>
        </footer>
    </blockquote>

    <strong>Requirements</strong>
    <ol>
        <li>Person's, not company's</li>
        <li>Not platform-ish, like <a href="https://css-tricks.com/">css-tricks.com</a></li>
        <li>Doesn't need to be active, or have a lot of posts</li>
    </ol>

    <form method="post">
        {{ form.non_field_errors }}
        <label for="id_url">URL</label>
        {% if form.url.errors %}
            {% for error in form.url.errors %}
                <div class="form-error">{{ error|escape }}</div>
            {% endfor %}
        {% endif %}
        <input type="url" name="url" id="id_url" maxlength="500" required autofocus value="{{ form.url.value|default_if_none:"" }}">

        <label for="id_title">Title</label>
        {% if form.title.errors %}
            {% for error in form.title.errors %}
                <div class="form-error">{{ error|escape }}</div>
            {% endfor %}
        {% endif %}
        <input type="text" name="title" id="id_title" maxlength="500" required value="{{ form.title.value|default_if_none:"" }}">

        <label for="description">Small description / comment</label>
        {% if form.description.errors %}
            {% for error in form.description.errors %}
                <div class="form-error">{{ error|escape }}</div>
            {% endfor %}
        {% endif %}
        <textarea name="description" id="description" cols="30" rows="3">{{ form.description.value|default_if_none:"" }}</textarea>

        {% csrf_token %}
        <input type="submit" value="add">
    </form>

    <nav>
        <a href="{% url 'index' %}">← back to the list</a>
    </nav>
</main>
{% endblock %}

{% block scripts %}
<script>
    var csrfToken = '{{ csrf_token }}';

    function handleResponse(evt) {
        if (evt.target.status === 200) {
            document.getElementById('id_title').value = this.responseText;
        }
    }

    function requestBlogTitle() {
        // build form data
        var data = new FormData();
        var blogURL = document.getElementById('id_url').value;
        data.append('url', blogURL);

        // xhr request
        var req = new XMLHttpRequest();
        req.addEventListener('load', handleResponse);
        req.open('POST', '/metadata/');
        req.setRequestHeader('X-CSRFToken', csrfToken);
        req.send(data);
    }

    document.getElementById('id_title').addEventListener('focus', requestBlogTitle);
</script>
{% endblock %}
