{% extends 'main/layout.html' %}

{% block title %}List of blogs{% endblock %}

{% block content %}
<main>
    <h1>Mataroa Collection</h1>
    <p>
        Curated list of personal blogs on any topic, by <a href="https://mataroa.blog/">mataroa.blog</a>.
    </p>
    <p>
        <a href="{% url 'go_random' %}">Go to a random blog</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
                <th>Description</th>
                {% if request.user.is_authenticated %}
                <th>Admin</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for blog in object_list %}
            <tr>
                <td>{{ blog.title }}</td>
                <td><a href="{{ blog.url }}">{{ blog.url }}</a></td>
                <td>{{ blog.description }}</td>
                {% if request.user.is_authenticated %}
                <td><a href="{% url 'admin:main_blog_change' blog.id %}">Edit</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<footer>
    To submit or remove your blog from this list please email <a href="mailto:admin+collection@mataroa.blog">admin+collection@mataroa.blog</a>.
</footer>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener('keypress', function (evt) {
        if (evt.key === 'n') {
            document.location.assign('/new');
        }
    });
</script>
{% endblock %}
