{% extends 'main/layout.html' %}

{% block title %}List of blogs{% endblock %}

{% block content %}
<main>
    <h1>Blogs</h1>
    <p>
        Curated list of personal blogs, on any topic.
    </p>
    <p>
        <a href="{% url 'go_random' %}">Go to a random blog</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in object_list %}
            <tr>
                <td>{{ blog.title }}</td>
                <td><a href="{{ blog.url }}">{{ blog.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
<footer>
    If you want your blog removed please email <a href="mailto:zf+blogs@sirodoht.com">zf+blogs@sirodoht.com</a>.
</footer>
{% endblock %}

{% block scripts %}
<script>
    console.log('If you want to add a blog go to /new.');

    window.addEventListener('keypress', function (evt) {
        if (evt.key === 'n') {
            document.location.assign('/new');
        }
    });
</script>
{% endblock %}
