{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>List of blogs</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <h1>Blogs</h1>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in object_list %}
                <tr>
                    <td>{{ blog.title }}</td>
                    <td><a href="{{ blog.url }}">{{ blog.url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
</html>
